# local configuration file (for Android sdk path, etc)
local.properties

# OSX files
.DS_Store

# Gradle artifacts
/*gradle*
!/build.gradle
!/settings.gradle
/build/

# Maven artifacts
src/gen/
target/

# GitHub
/.github/

# Android artifacts
*.apk
*.ap_
*.dex

# Java compilation artifacts
*.class

# J2ME Mobile Tools
.mtj.tmp/

# NDK
obj/

# BlueJ
*.ctxt

# Packaging artifacts #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse #
/.classpath
/.settings/
/.project
/.metadata
bin/

# IntelliJ #
*.iml
*.ipr
*.iws
*.uml
.idea/
out/

# Misc
*.log
*.graphml
coverage.db*
hs_err_pid*
